<div class="body-this-page">
  <app-loader *ngIf="loading"></app-loader>
  <app-menu></app-menu>
  <div class="container">
    <div class="box-top">
        <img src="assets/images/premium_afiliado_img.svg" alt="Recursos de Afiliado">
        <h1>Recursos de Afiliado</h1>
        <p>Tornar-se um afiliado vai permitir que você garanta ainda mais segurança para sua família, amigos ou empresa.</p>
    </div>

    <div class="row item">
      <div class="col-10 text">
          <h3 alt="align-middle">Receber notificações de alertas em proximidades de seus pontos</h3>
          <p alt="align-middle">Se algo acontecer próximo ao ponto que você incluiu, você será avisado.</p>
      </div>
      <div class="col-2 icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>

    <div class="row item">
      <div class="col-10 text">
          <h3 alt="align-middle">Adicionar pontos ilimitado</h3>
          <p alt="align-middle">Faça um verdadeiro mapa de segurança, acompanhando todos os pontos do seu interesse.</p>
      </div>
      <div class="col-2 icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>
   
    <div class="row item">
      <div class="col-10 text">
          <h3 alt="align-middle">Visualizar informações completas de cada ponto</h3>
          <p alt="align-middle">Você irá visualizar todas as ocorrências nos pontos com detalhes de data, hora e tipo.</p>
      </div>
      <div class="col-2 icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>

    <div class="confirm-term">
      <label class="checkbox"> Concordo com os <a href="#">termos de uso</a>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row container-form">
      <div class="col-7 field form-group">
          <label for="inputVoucher">Insira o código do seu voucher</label>
          <input type="text" class="form-control" id="inputVoucher" placeholder="Ex: XPTO12345">
      </div>
      <div class="col-5 col-btn">
        <button><i class="fa fa-check" aria-hidden="true"></i> Torne-se um afiliado</button>
      </div>
    </div>

    <div class="container-link-to-form">
      <p>Não tem um voucher? <a href="#">Adquira aqui.</a></p>
    </div>

  </div>
</div>