<div class="body-this-page">
  <app-loader *ngIf="loading"></app-loader>
  <app-menu></app-menu>
  <div class="container">
    <div class="box-top">
        <img src="assets/images/premium_afiliado_img.svg" alt="Recursos de Afiliado">
        <h1>Recursos de Afiliado</h1>
        <p>Tornar-se um afiliado vai permitir que você garanta ainda mais segurança para sua família, amigos ou empresa.</p>
    </div>

    <div class="row item">
      <div class="col-10 text">
          <h3 alt="align-middle">Receber notificações de alertas em proximidades de seus pontos</h3>
          <p alt="align-middle">Se algo acontecer próximo ao ponto que você incluiu, você será avisado.</p>
      </div>
      <div class="col-2 icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>

    <div class="row item">
      <div class="col-10 text">
          <h3 alt="align-middle">Adicionar pontos ilimitados</h3>
          <p alt="align-middle">Faça um verdadeiro mapa de segurança, acompanhando todos os pontos do seu interesse.</p>
      </div>
      <div class="col-2 icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>
   
    <div class="row item">
      <div class="col-10 text">
          <h3 alt="align-middle">Visualizar informações completas de cada ponto</h3>
          <p alt="align-middle">Você irá visualizar todas as ocorrências nos pontos com detalhes de data, hora e tipo.</p>
      </div>
      <div class="col-2 icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>

    <div class="confirm-term">
      <label class="checkbox"> Concordo com os <a href="#">termos de uso</a>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row container-form">
      <div class="col-7 field form-group">
          <label for="inputVoucher">Insira o código do seu voucher</label>
          <input type="text" class="form-control" [(ngModel)]="voucher" id="inputVoucher" placeholder="Ex: XPTO12345">
      </div>
      <div class="col-5 col-btn">
        <button (click)="sendVoucher(voucher)"><i class="fa fa-check" aria-hidden="true"></i> Torne-se um afiliado</button>
      </div>
    </div>

    <div class="container-link-to-form">
      <p>Não tem um voucher? <a href="mailto:suporte@linhadiretapm.com">Solicite aqui.</a></p>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-thankyou" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body pt-5 pb-5 text-center">
          <img class="pt-4 pb-5" src="assets/images/shield_check_feito.png" alt="">
          <h1>Feito!</h1>
          <h5 class="pt-4 pb-5">Obrigado por se tornar um afiliado, você agora pode adicionar e monitorar vários pontos, e será notificado de ocorrências em seus pontos ou proximidades.</h5>
          <button class="btn btn-rounded background-active" routerLink="/places" data-dismiss="modal">Ir para o dashboard</button>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>