<div class="row list-container">
  <div class="col-4 box-info">
    <div class="icon verticaly-center">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
    </div>
    <div class="text verticaly-center">
      <h3>Minha Faculdade</h3>
      <p>Av. das Américas, n120938, Barra da Tijuca - Rio de Janeiro - RJ, 28907-410</p>
    </div>
  </div>
  <div class="col-3 box-count">
    <p class="verticaly-center">Ocorrências Recentes</p>
    <h3 class="verticaly-center">12</h3>
    <div class="circle verticaly-center"></div>
  </div>
  <div class="col-3 box-check">
    <div class="row-one verticaly-center">
      <p>Ativar<br>Monitoramento</p>
      <app-btn-checkbox-switch [isChecked]="enableMonitoring" (actionCheck)="onCheck($event)"></app-btn-checkbox-switch>
    </div>
    <div class="row-two">
      <p>O que é isso? <span>?</span></p>
    </div>
  </div>
  <div class="col-2 box-btns">
    <button class="btn verticaly-center"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button class="btn verticaly-center"><i class="fa fa-times" aria-hidden="true"></i></button>
    <button class="btn verticaly-center"><i class="fa fa-eye" aria-hidden="true"></i></button>
  </div>
</div>