.list-container {
    background-color: #f8f8f8;
    margin: 0 0 10px 0;
    border-radius: 6px;
    color: #255fa2;
    min-height: 100px;
    /* BOX INFO */
    .box-info {
        .icon {
            float: left;
            font-size: 38px;
            width: 40px;
        }
        .text {
            float: left;
            width: calc(100% - 45px);
            h3 {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
            }
            p {
                font-size: 12px;
                font-weight: 300;
                margin: 0;
            }
        }
    }
    /* BOX COUNT */
    .box-count {
        .circle {
            width: 25px;
            height: 25px;
            background-color: #dedede;
            border-radius: 50%;
            float: left;
        }
        h3 {
            font-size: 50px;
            font-weight: 300;
            width: 65px;
            text-align: center;
            margin: 0;
            float: left;
        }
        p {
            width: calc(100% - 125px);
            float: left;
            text-transform: uppercase;
            text-align: right;
            font-size: 12px;
            font-weight: 300;
            margin: 0;
        }
    }
    /* BOX CHECK */
    .box-check {
        position: relative;
        .row-one {
            width: 100%;
            position: relative;
            overflow: auto;
            p {
                width: calc(100% - 90px);
                float: left;
                text-transform: uppercase;
                text-align: right;
                font-size: 12px;
                font-weight: 300;
                margin: 0;
                padding-right: 10px;
            }
            #check-monitoring {
                width: 29px;
            }
            app-btn-checkbox-switch {
                float: left;
                margin-top: 5px;
            }
        }

        .row-two {
            position: absolute;
            bottom: 8px;
            display: block;
            width: 100%;
            text-align: right;
            padding-right: 55px;
            p {
                margin: 0;
                font-size: 10px;
                font-weight: 300;
                font-style: italic;
                span {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    color: #fff;
                    background-color: #255fa2;
                    padding: 4px 8px;
                    border-radius: 50%;
                    margin-left: 6px;
                    cursor: pointer;
                }
            }
        }
    }
    /* BOX BUTTONS */
    .box-btns {
        text-align: center;
        .btn {
            background-color: #fff;
            color: #255fa2;
            width: 40px;
            height: 40px;
            margin: 0 4px;
            border-radius: 50%;
        }
    }
}

.with-ocorrence {
    background-color: #fc280b;
}

.no-ocorrence {
    background-color: #74ff84;
}


/*
* LD TOOLTIP
*/
.ld-tooltipe {
    width: 500px;
    background-color: #33b7f8;
    color: #fff;
    position: absolute;
    right: 67px;
    top: 45px;
    border-radius: 10px;
    z-index: 1;
    visibility: hidden;
    text-align: center;
    .btn-close {
        color: #fff;
        font-size: 30px;
        position: absolute;
        left: 15px;
        top: 0px;
        cursor: pointer;
    }
    .paleta-cores {
        width: 0;
        height: 0;
        border: 20px solid;
        border-color: transparent #33b7f8 #33b7f8 transparent;
        /********************/
        position: absolute;
        right: 0;
        top: -22px;
    }
    h3 {
        margin: 40px 0 20px;
        padding: 0;
        text-align: center;
        font-size: 25px;
        font-weight: 300;
    }
    p {
        &.description {
            text-align: center;
            font-size: 15px !important;
            font-style: normal !important;
            padding: 0 24px;
            font-weight: 200 !important;
        }
    }
    button {
        padding: 6px 30px;
        background-color: transparent;
        border: 5px solid #fff;
        margin: 20px auto;
        position: relative;
        color: #fff;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 100;
    }
}

.showTooltipe {
    visibility: visible;
}