.title {
    margin-top: 20px;
}

.line-place {
    p {
        position: relative;
        padding-right: 100px;
        button {
            position: absolute;
            width: 32px;
            height: 32px;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            &.btn-danger {
                right: 10px;
            }
            &.btn-warning {
                right: 50px;
            }
        }
    }
}

.btn {
    position: relative;
    width: 170px;
    img {
      width: 26px;
      position: absolute;
      right: 10px;
    }
}