/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/scss/bootstrap.scss';

.verticaly-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}